<div class="test-modal-container" *ngIf="currentQuestion || testFinished">
  <div class="modal-wrapper"> <div class="modal-header">
      <h2>Test de {{ displaySubjectName }}</h2>
      <button mat-raised-button class="close-button" (click)="closeTestModal()" aria-label="Volver a Inicio">
        Volver a Inicio
      </button>
    </div>

    <div class="modal-content">
      <div *ngIf="!testFinished">
        <p class="question-text">
          {{ currentQuestionIndex + 1 }}. {{ currentQuestion?.questionText }}
        </p>
        <div class="options-container-column">
          <button
            *ngFor="let option of shuffledOptions"
            mat-stroked-button
            [class.selected]="selectedAnswer === option"
            [class.correct]="isAnswered && option === currentQuestion?.correctAnswer"
            [class.incorrect]="isAnswered && option === selectedAnswer && option !== currentQuestion?.correctAnswer"
            (click)="selectAnswer(option)"
            [disabled]="isAnswered"
          >
            {{ option }}
          </button>
        </div>

        <div *ngIf="isAnswered" class="answer-feedback">
          <p *ngIf="isCorrect" class="correct-feedback">¡Correcto!</p>
          <p *ngIf="!isCorrect" class="incorrect-feedback">
            ¡Incorrecto! 
          </p>
          <p class="explanation">Explicación: {{ currentQuestion?.explanation }}</p>
        </div>

        <button
          mat-raised-button
          color="primary"
          (click)="nextQuestion()"
          [disabled]="!isAnswered"
          class="next-button"
        >
          {{ currentQuestionIndex === shuffledQuestions.length - 1 ? 'Finalizar Test' : 'Siguiente Pregunta' }}
        </button>
      </div>

      <div *ngIf="testFinished" class="test-results">
        <h3>Test Finalizado</h3>
        <p class="final-score">{{ finalScoreMessage }}</p>
        <div class="result-actions">
          <button mat-raised-button color="primary" (click)="restartTest()">
            Repetir Test
          </button>
          <button mat-raised-button color="basic" (click)="closeTestModal()">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div> </div>

<div class="loading-message" *ngIf="!currentQuestion && !testFinished && displaySubjectName">
  Cargando preguntas para {{ displaySubjectName }}...
</div>